<app-navbar></app-navbar>
<div class="row move">
    <form action="" class="col s8"id="reg-form" [formGroup]="forma" (ngSubmit)="guardar()">
        <div class="row card-panel">
            <h4 class="card-title title">Actividad 1</h4>
            <h6 class="card-title"><b>PROBLEMA 1:</b> Una caja en forma de prisma rectangular tiene 4.5 cm de ancho y 3 cm de alto, y su volumen es de 81 cm3. ¿Cuánto mide de largo?</h6>
            <div class="input-field col s12">
                <div class="card-panel">
                    <h6 for="nombre" class="bold">¿Cuál es el valor desconocido en el problema?</h6>
                    <p>
                        <label>
                            <input class="with-gap validate"  name="q1" type="radio" />
                            <span>a) Alto </span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input class="with-gap validate"  name="q1" type="radio" />
                            <span>b) Ancho </span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input class="with-gap validate"  name="q1" type="radio" />
                            <span>c) Largo </span>
                        </label>
                    </p>
                </div>
            </div>
            <div class="input-field col s12">
                <div class="card-panel">
                    <h6 for="nombre" class="bold">¿Cómo podríamos representar la incógnita del problema?</h6>
                    <textarea id="textarea1" formControlName="q3" name="q3" class="materialize-textarea"></textarea>
                </div>
            </div>
            <div class="input-field col s12">
                <div class="card-panel">
                    <h6 for="nombre" class="bold">Utilizando la incógnita elegida en I2, escribe una ecuación que represente el problema.</h6>
                    <textarea id="textarea1" formControlName="q3" name="q3" class="materialize-textarea"></textarea>
                </div>
            </div>
            <div class="input-field col s12">
                <div class="card-panel">
                    <h6 for="nombre" class="bold">Realiza el despeje de la incógnita en la ecuación que escribiste.</h6>
                    <textarea id="textarea1" formControlName="q3" name="q3" class="materialize-textarea"></textarea>
                </div>
            </div>
            <div class="input-field col s12">
                <div class="card-panel">
                    <h6 for="nombre" class="bold">Encuentra el valor de la incógnita.</h6>
                    <textarea id="textarea1" formControlName="q3" name="q3" class="materialize-textarea"></textarea>
                </div>
            </div>
            <h6 class="card-title"><b>PROBLEMA 2:</b> La población de una ciudad aumentó en 5689 personas durante cierto año, haciendo un total de 157,743. ¿A qué número debemos sumar 5689 para que dé 157,743?</h6>
            <div class="input-field col s12">
                <div class="card-panel">
                    <h6 for="nombre" class="bold">¿Cuál es el valor desconocido en el problema?</h6>
                    <p>
                        <label>
                            <input class="with-gap validate"  name="q2" type="radio" />
                            <span>a) La población inicial </span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input class="with-gap validate"  name="q2" type="radio" />
                            <span>b) La población final </span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input class="with-gap validate"  name="q2" type="radio" />
                            <span>c) La población total </span>
                        </label>
                    </p>
                </div>
            </div>
            <div class="input-field col s12">
                <div class="card-panel">
                    <h6 for="nombre" class="bold">¿Cómo podríamos representar la incógnita del problema?</h6>
                    <textarea id="textarea1" formControlName="q3" name="q3" class="materialize-textarea"></textarea>
                </div>
            </div>
            <div class="input-field col s12">
                <div class="card-panel">
                    <h6 for="nombre" class="bold">Utilizando la incógnita elegida en I2, escribe una ecuación que represente el problema.</h6>
                    <textarea id="textarea1" formControlName="q3" name="q3" class="materialize-textarea"></textarea>
                </div>
            </div>
            <div class="input-field col s12">
                <div class="card-panel">
                    <h6 for="nombre" class="bold">Realiza el despeje de la incógnita en la ecuación que escribiste.</h6>
                    <textarea id="textarea1" formControlName="q3" name="q3" class="materialize-textarea"></textarea>
                </div>
            </div>
            <div class="input-field col s12">
                <div class="card-panel">
                    <h6 for="nombre" class="bold">Encuentra el valor de la incógnita.</h6>
                    <textarea id="textarea1" formControlName="q3" name="q3" class="materialize-textarea"></textarea>
                </div>
            </div>
            <h6 class="card-title"><b>PROBLEMA 3:</b> Dentro de un año, Amanda tendrá el triple de la edad que tenía hace nueve años. ¿Qué edad tiene Amanda ahora?</h6>
            <div class="input-field col s12">
                <div class="card-panel">
                    <h6 for="nombre" class="bold">¿Cuál es el valor desconocido en el problema?</h6>
                    <p>
                        <label>
                            <input class="with-gap validate"  name="q4" type="radio" />
                            <span>a) La edad que Amanda tenía hace nueve años. </span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input class="with-gap validate"  name="q4" type="radio" />
                            <span>b) La edad que Amanda tiene ahora. </span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input class="with-gap validate"  name="q4" type="radio" />
                            <span>c) La edad que Amanda tendrá dentro de un año. </span>
                        </label>
                    </p>
                </div>
            </div>
            <div class="input-field col s12">
                <div class="card-panel">
                    <h6 for="nombre" class="bold">¿Cómo podríamos representar la incógnita del problema?</h6>
                    <textarea id="textarea1" formControlName="q3" name="q3" class="materialize-textarea"></textarea>
                </div>
            </div>
            <div class="input-field col s12">
                <div class="card-panel">
                    <h6 for="nombre" class="bold">Utilizando la incógnita elegida en I2, escribe una ecuación que represente el problema.</h6>
                    <textarea id="textarea1" formControlName="q3" name="q3" class="materialize-textarea"></textarea>
                </div>
            </div>
            <div class="input-field col s12">
                <div class="card-panel">
                    <h6 for="nombre" class="bold">Realiza el despeje de la incógnita en la ecuación que escribiste.</h6>
                    <textarea id="textarea1" formControlName="q3" name="q3" class="materialize-textarea"></textarea>
                </div>
            </div>
            <div class="input-field col s12">
                <div class="card-panel">
                    <h6 for="nombre" class="bold">Encuentra el valor de la incógnita.</h6>
                    <textarea id="textarea1" formControlName="q3" name="q3" class="materialize-textarea"></textarea>
                </div>
            </div>
            
            <button mat-raised-button type="submit" [routerLink]="['/resultados']" routerLinkActive="router-link-active"  class="btn btn-blue pull-right">Terminar</button>
        </div>
    </form>
</div>