/* Application-wide Styles
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    display: block;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 0px 0px;
    margin: 0;
    color: white;
    text-align: center;
}
.mdl-layout--fixed-drawer  .mdl-layout__drawer {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    background-color: #4374EF;
}

.mdl-layout--fixed-drawer > .mdl-layout__content {
    margin-left: 80px;
}

.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen) > .mdl-layout__header {
    margin-left: 50px;
    width: calc(100% - 24px);
} */

