<!-- The drawer is always open in large screens. The header is always shown,
  even in small screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-center">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp">
        </div>
      </div>
      <div class="mdl-layout-spacer"></div>     
      <!-- Right aligned menu below button -->
        <button id="demo-menu-lower-right" class="mdl-button mdl-button mdl-button--icon">
            <i class="material-icons mdl-badge mdl-badge--overlap" data-badge="4">notifications</i>
            
        </button>

        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
            <li class="mdl-menu__item">Mike John creo una nueva actividadl</li>
            <li class="mdl-menu__item">Tienes una actividad sin hacer</li>
            <li disabled class="mdl-menu__item">Completaste una actividad</li>
            <li class="mdl-menu__item">algo</li>
        </ul>
      
    </div>
    </header>
    <div class="mdl-layout__drawer">
    <span class="mdl-layout-title"> ... </span>
    <nav class="mdl-navigation" routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} mdl-navigation__link">
      <a class="mdl-navigation__link" [routerLink]="[menuItem.path]" routerLinkActive="active">
          <i class="material-icons">{{menuItem.icon}}</i>
          <p>{{menuItem.title}}</p>
      </a>
    </nav>
    </div>
  <main class="mdl-layout__content">
    <div class="page-content"><router-outlet></router-outlet></div>
  </main>
</div>



<!-- The routed views render in the <router-outlet>-->
 