section {
  width: 100vw;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #5269ee, #e73c7e, #381768, #23d5ab);
  background-size: 400%, 400%;
  position: relative;
}

.model {
  /* position: absolute;
    top: 50vh;
    left: 8vw; */

  border-radius: 29px 0px 0px 29px;
  -moz-border-radius: 29px 0px 0px 29px;
  -webkit-border-radius: 29px 0px 0px 29px;
  /* border: 1px solid #000000; */
  background: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 0, 0, 0));
}

.model2 {
  /* position: absolute;
      top: 50vh;
      left: 8vw; */

  border-radius: 0px 29px 29px 0px;
  -moz-border-radius: 0px 29px 29px 0px;
  -webkit-border-radius: 0px 29px 29px 0px;
  background: rgba(37, 37, 37, 0.623);
  padding-top: 10vh;
}

.p {
  padding-top: 45%;
}
.p5 {
  padding-top: 50%;
}

.mt {
  margin-top: 12vh;
}


.mt-65 {
  margin-top: 29vh;
}
/* para Ipad pro */
@media (min-width: 1366px) and (max-width: 1366px) and (orientation: landscape){
  .mt-65 {
    margin-top: 4.5vh;
  }
}

@media (min-width: 1024px) and (max-width: 1024px){
  .mt-65 {
    margin-top: 4.5vh;
  }
  .p5 {
    padding-top: 80%;
  }
  .mt {
    margin-top: 3.5vh;
  }
}

/* ipad landscape */
@media (min-width: 1024px) and (orientation: landscape) and (max-width: 1024px) {
  .mt {
    margin-top: 5vh;
  }
  .p5 {
    padding-top: 70%;
  }
  .mt-65 {
    margin-top: 11vh;
  }
}