.principal{
  width: 100vw;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #5269ee, #e73c7e, #381768, #23d5ab);
  background-size: cove;
  position: absolute;
}

.login{
  margin-top: 25vh;
}

.login .card{
  background: rgba(0, 0, 0, .6);
}

.login label {
  font-size: 16px;
  color: #ccc;
}
.login input{
  font-size: 22px !important;
  color: #ccc !important;
}

.login button{
  margin-top: 3vh;
}

.login button:hover{
  padding: 0px 40px;
  background-color: rgb(194, 35, 70) !important;

}
a{
  color: gray;
}
a:hover{
  color: white;
}
.boxi{
  height: 50px;
}
