<app-navbar></app-navbar>
<main>
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header card-header-info">
                            <h4 class="card-title">Actividad 1</h4>
                            <p class="card-category">{{temaResult}}</p>
                        </div>
                        <div class="card-body">
                            <h2 class="card-title ">Instrucciones</h2>
                            <h3 class="card-body">
                                <strong>Resuelve las siguientes preguntas para evaluar tu nivel de aprendizaje </strong> <br /> 
    
                            </h3>
    
                            <button mat-raised-button type="submit" [routerLink]="['/activity/1']" routerLinkActive="router-link-active"  class="btn btn-info pull-right">Empezar</button>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
