<app-navbar></app-navbar>
<main>
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header card-header-info">
                            <h4 class="card-title">Actividad #</h4>
                            <p class="card-category">Nombre de la actividad</p>
                        </div>
                        <div class="card-body">
                            <h2 class="card-title ">Instrucciones</h2>
                            <h3 class="card-body">
                                <strong>Requisitos: </strong> <br /> algo
                                <br />
                                <strong>Objetivo: </strong><br /> algo
                                <br />
                                <strong>Especificaciones de entrega: </strong> <br />
    
                                <i>Formato de entrega:</i> terminar la actividad<br />
    
                            </h3>
    
                            <button mat-raised-button type="submit" [routerLink]="['/activity/1']" routerLinkActive="router-link-active"  class="btn btn-info pull-right">Empezar</button>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
