.container {
    background: white;
    padding: 20px 25px;
    border: 5px solid #26a69a;
    width: 550px;
    height: auto;
    box-sizing: border-box;
    position: relative;
    margin-top: 15vh;
  }
  .col.s6 > .btn {
     width: 100%;
  }
  .gender-male,.gender-female {
    display: inline-block;
  }
  .gender-female {
    margin-left: 35px;
  }
  radio:required {
    border-color: red;
  }
  .container {
    animation: showUp 0.5s cubic-bezier(0.18, 1.3, 1, 1) forwards;
  }
  
  @keyframes showUp {
    0% {
      transform: scale(0);
    }
    100% {
      transoform: scale(1);
    }
  }
  .row {margin-bottom: 10px;}
  
  .ngl {
    position: absolute;
    top: -20px;
    right: -20px;
  }
  
  .red{
      background: #FF2D55 !important;
  }